.projectCard {
  position: relative;
  overflow: hidden;
}

.projectImage {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.projectInfo {
  padding: 1rem;
}

.techTags {
  margin-top: 0.5rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.group:hover .overlay {
  opacity: 1;
}

.group:hover .projectImage {
  transform: scale(1.1);
}